.product{
    width: 300px;
    border: 1px solid gray;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product img {
    height: 286px;
    width: 286px;
    object-fit: cover;
    border-radius: 8px;
}
.btn-cart{
    width: 100%;
    background-color: #FFE0B3;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-cart:hover{
    background-color: #f8d39c;
}
.btn-cart:active{
    background-color: black;
    color:white;
}